<div class="header-search-cart-login">
        <div class="logo">
            <a href="/">
                <img src="assets/img/logo/logo.png" alt="">
            </a>
        </div>
        <div class="header-login">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Reg</a></li>
            </ul>
        </div>
        <div class="header-cart cart-res">
            <a class="icon-cart" href="/cart">
                <i class="ti-shopping-cart"></i>
                <span class="shop-count pink">06</span>
            </a>

        </div>
    </div>