<div class="sidebar-active header-left-sidebar">
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> 
        </div>
        <div class="main-menu menu-hover">
            <nav>
                <ul>
                    <li><a href="/shop">CHIPS</a></li>
                    <li><a href="/shop">DRINKS</a></li>
                    <li><a href="/shop">CANDIES<span>New</span></a></li>
                    <li><a href="/shop">HOME</a></li>
                    <li><a href="/shop">BATHROOM</a></li>
                    <li><a href="/shop">SURPRISE BOX</a></li>
                    <li><a href="/shop">Health <span>New</span></a></li>
                    <li><a href="/shop">contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="currency">
            <ul>
                <li><a href="/shop">EN</a></li>
                <li><a href="/shop">FR</a></li>
            </ul>
        </div>
    </div>