@layout('layout.version_one')

@section('title')
    About
@endsection

@section('content')


<header>
        <div class="header-area" >
            @include('components.headSection')


    <div class="header-right-sidebar">
                @include('components.cartSection')
                <!--the section goes here-->
                <div class="electro-product-wrapper wrapper-padding pt-85 pb-75">
                        <div class="container">
                            <div class="section-title-4 text-center mb-45">
                                <h2>Account</h2>
                            </div>
                         </div>
                    </div> 
                    <div class="shop-page-wrapper ">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="shop-sidebar">
                                        <div class="sidebar-widget mb-50">
                                            <h3 class="sidebar-title">Welcome to your account</h3>
                                        </div>
                                        <div class="sidebar-widget mb-40">
                                            <a href="#"><h3 class="sidebar-title">Track my order</h3></a>
                                        </div>
                                        <div class="sidebar-widget mb-45">
                                            <h3 class="sidebar-title">Information</h3>
                                            <div class="footer-widget mb-30">
                                                    <div class="footer-widget-content-4">
                                                        <ul>
                                                            <li><a href="register.html">Name</a></li>
                                                            <li><a href="login.html">Email</a></li>
                                                            <li><a href="register.html">Number</a></li>
                                                            <li><a href="#">Address</a></li>
                                                            <li><a href="#">Past orders</a></li>
                                                            <li><a href="#">Support</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                        </div>
                
                
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="shop-fproduct-wrapper">
                                        <div class="shop-bar-areas">
                                            <div class="row">
                                                    <div class="col-md-6 causes-res">
                                                            <div class="choose-wrapper">
                                                                <h4>FAST DELIVERY</h4>
                                                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                                                            </div>
                                                            <div class="choose-wrapper">
                                                                <h4>SECURE PAYMENT</h4>
                                                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                                                            </div>
                                                            <div class="choose-wrapper">
                                                                <h4>EASY ORDER TRACKING</h4>
                                                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                                                            </div>
                                                            <div class="choose-wrapper">
                                                                <h4>24/7 SUPPORT</h4>
                                                                <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                    

    </div>
</div>
</header>
@endsection