@layout('layout.normal')

@section('title')
    login
@endsection

@section('content')

<div class="electro-product-wrapper wrapper-padding pt-85 pb-75">
    <div class="container">
        <div class="section-title-4 text-center mb-45">
            <h2>Login</h2>
        </div>
     </div>
</div> 


        <!-- login-area start -->
        <div class="register-area ptb-100" style="background-image: url(img/shop2.jpg);
        
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        
        " >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="#" method="post">
                                        <input type="text" name="user-name" placeholder="Username">
                                        <input type="password" name="user-password" placeholder="Password">
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox">
                                                <label>Remember me</label>
                                                <a href="#">Forgot Password?</a>
                                            </div>
                                            <button type="submit" class="default-btn floatright">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
@endsection