@layout('layout.version_one')

@section('title')
    Shop
@endsection

@section('content')
<div class="container">
        <div class="row"> 
            <div class="sidebar-active col-6  " >
                <!--<div style="background-color:orange; height:500px;">
                        <h1>hello world</h1>
                </div>-->
                <header>
                        <div class="sidebar-active  header-area">
                            <div class="header-left-sidebar">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> 
                                </div>
                                <div class="main-menu menu-hover">
                                    <nav>
                                        <ul>
                                            <li><a href="#">CHIPS</a></li>
                                            <li><a href="#">DRINKS</a></li>
                                            <li><a href="#">CANDIES<span>New</span></a></li>
                                            <li><a href="#">HOME</a></li>
                                            <li><a href="#">BATHROOM</a></li>
                                            <li><a href="#">SURPRISE BOX</a></li>
                                            <li><a href="#">Health <span>New</span></a></li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="currency">
                                    <ul>
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">FR</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-right-sidebar">
                                <div class="header-search-cart-login">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="assets/img/logo/logo.png" alt="">
                                        </a>
                                    </div>
                                    <div class="header-login">
                                        <ul>
                                            <li><a href="/">Login</a></li>
                                            <li><a href="/">Reg</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-cart cart-res">
                                        <a class="icon-cart" href="#">
                                            <i class="ti-shopping-cart"></i>
                                            <span class="shop-count pink">06</span>
                                        </a>
                
                                    </div>
                                </div>

                            </div>
                        </div>
                    </header>
            </div>
            <div class="col-6">
                    <div class=" mb-30" style="height:150px; background-color: red;  " >
                       
                            one 
                        </div>
                        <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                           
                            two 
                        </div>
                        <div class="e mb-30" style="height:150px; background-color: red;  ">
                            
                            three             
                        </div>
                        <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                            
                            four  
                        </div>
                        <div class=" mb-30" style="height:150px; background-color: red;  " >
                           
                                one 
                            </div>
                            <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                               
                                two 
                            </div>
                            <div class="e mb-30" style="height:150px; background-color: red;  ">
                                
                                three             
                            </div>
                            <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                                
                                four  
                            </div>
                            <div class=" mb-30" style="height:150px; background-color: red;  " >
                           
                                    one 
                                </div>
                                <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                                   
                                    two 
                                </div>
                                <div class="e mb-30" style="height:150px; background-color: red;  ">
                                    
                                    three             
                                </div>
                                <div class="e mb-30" style="height:150px; background-color: yellow;  ">
                                    
                                    four  
                                </div>
            </div>
        </div>
    </div>
@endsection