@layout('layout.version_one')

@section('title')
    Shop
@endsection

@section('content')

<header>
        <div class="header-area">
            @include('components.headSection')

            <div class="header-right-sidebar">
                @include('components.cartSection')
                <!--the section goes here-->
                <div class="electro-product-wrapper wrapper-padding pt-85 pb-75">
                        <div class="container"  >
                            <div class="section-title-4 text-center mb-45">
                                <h2>Products</h2>
                            </div>
                            <div class="product-tab-list2  mb-95">
                                    <a id="drinks"  href="/drinks" >
                                        <h4>Drinks</h4>
                                    </a>
                                    <a id="chips" class="active" href="/chips" >
                                        <h4>Chips </h4>
                                    </a>
                                    <a id="home" href="/home" >
                                        <h4>Home</h4>
                                    </a>
                                    <a id="candies" href="/candies" >
                                        <h4>Candies</h4>
                                    </a>
                                    <a id="bathroom" href="/bathroom" >
                                        <h4>Bathroom</h4>
                                    </a>
                                    <a id="elec" href="/electronics">
                                        <h4>Electronics</h4>
                                    </a>
                                </div>
                            <div id="root" class="coustom-row-4">
                                <!--<div class="custom-col-two-5 custom-col-style-4">
                                    <div class="product-wrapper mb-65">
                                        <div class="product-img-hanicraft">
                                            <a href="#">
                                                <img src="products/chips.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="product-content-hanicraft shop-center">
                                                <h5>$40.33</h5>
                                                <h4><a href="product-details.html">Seafront Accent Chair</a></h4>
                                                <span>Buskat</span>
                                                <button data-name="Orange" data-price="0.5"  class="add-to-cart btn shop-btn" style="margin-top:15px; width:100%; border-radius: 5px; " >Add</button>
            
                                        </div>
                                    </div>
                                </div>-->
                                @each(prod in products)
                                <div class="custom-col-two-5 custom-col-style-4">
                                    <div class="product-wrapper mb-65">
                                        <div class="product-img-hanicraft">
                                            <a href="#">
                                                    <img src="products/{{prod.img}}" alt="">
                                            </a>
                                            @if(prod.sell !== null )
                                            <span class="sell">{{prod.sell}}</span>
                                            @endif
                                            <div class="hanicraft-action-position">
                                                <div class="hanicraft-action">
                                                    <a class="action-cart" title="Add To Cart" href="#">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                    <a class="action-like" title="Wishlist" href="#">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                    <a class="action-repeat" title="Compare" href="#" data-toggle="modal" data-target="#exampleCompare" >
                                                        <i class="pe-7s-repeat"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content-hanicraft shop-center">
                                                  <h5 style="color:brown;" >${{prod.price}}</h5>
                                                  
                                              <span>{{prod.name}}</span>
                                                <button data-name="Orange" data-price="0.5"  class="add-to-cart btn shop-btn" style="margin-top:15px; width:100%; border-radius: 5px; " >ADD</button>
            
                                        </div>
                                    </div>
                                </div>
                                @endeach
                      </div>
                </div>
            </div>            
        </div>
    </div>
</header>
@endsection