
@layout('layout.version_one')

@section('title')
    version two herre
@endsection

@section('content')
<header>
        <div class="sidebar-active  header-area">
            <div class="header-left-sidebar">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a> 
                </div>
                <div class="main-menu menu-hover">
                    <nav>
                        <ul>
                            <li><a href="#">CHIPS</a></li>
                            <li><a href="#">DRINKS</a></li>
                            <li><a href="#">CANDIES<span>New</span></a></li>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">BATHROOM</a></li>
                            <li><a href="#">SURPRISE BOX</a></li>
                            <li><a href="#">Health <span>New</span></a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="currency">
                    <ul>
                        <li><a href="#">EN</a></li>
                        <li><a href="#">FR</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right-sidebar">
                <div class="header-search-cart-login">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo.png" alt="">
                        </a>
                    </div>
                    <div class="header-login">
                        <ul>
                            <li><a href="/">Login</a></li>
                            <li><a href="/">Reg</a></li>
                        </ul>
                    </div>
                    <div class="header-cart cart-res">
                        <a class="icon-cart" href="#">
                            <i class="ti-shopping-cart"></i>
                            <span class="shop-count pink">06</span>
                        </a>

                    </div>
                </div>
                <!--mobile view of the app
                <div class="mobile-menu-area clearfix d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="#">HOME</a>
                                    <ul>
                                        <li><a href="index.html">Fashion</a></li>
                                        <li><a href="index-fashion-2.html">Fashion style 2</a></li>
                                        <li><a href="index-fruits.html">Fruits</a></li>
                                        <li><a href="index-book.html">book</a></li>
                                        <li><a href="index-electronics.html">electronics</a></li>
                                        <li><a href="index-electronics-2.html">electronics style 2</a></li>
                                        <li><a href="index-food.html">food & drink</a></li>
                                        <li><a href="index-furniture.html">furniture</a></li>
                                        <li><a href="index-handicraft.html">handicraft</a></li>
                                        <li><a href="index-smart-watch.html">smart watch</a></li>
                                        <li><a href="index-sports.html">sports</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="about-us.html">about us</a></li>
                                        <li><a href="menu-list.html">menu list</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="register.html">register</a></li>
                                        <li><a href="cart.html">cart page</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">shop</a>
                                    <ul>
                                        <li><a href="shop-grid-2-col.html"> grid 2 column</a></li>
                                        <li><a href="shop-grid-3-col.html"> grid 3 column</a></li>
                                        <li><a href="shop.html">grid 4 column</a></li>
                                        <li><a href="shop-grid-box.html">grid box style</a></li>
                                        <li><a href="shop-list-1-col.html"> list 1 column</a></li>
                                        <li><a href="shop-list-2-col.html">list 2 column</a></li>
                                        <li><a href="shop-list-box.html">list box style</a></li>
                                        <li><a href="product-details.html">tab style 1</a></li>
                                        <li><a href="product-details-2.html">tab style 2</a></li>
                                        <li><a href="product-details-3.html"> tab style 3</a></li>
                                        <li><a href="product-details-4.html">sticky style</a></li>
                                        <li><a href="product-details-5.html">sticky style 2</a></li>
                                        <li><a href="product-details-6.html">gallery style</a></li>
                                        <li><a href="product-details-7.html">gallery style 2</a></li>
                                        <li><a href="product-details-8.html">fixed image style</a></li>
                                        <li><a href="product-details-9.html">fixed image style 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">BLOG</a>
                                    <ul>
                                        <li><a href="blog.html">blog 3 colunm</a></li>
                                        <li><a href="blog-2-col.html">blog 2 colunm</a></li>
                                        <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="blog-details-sidebar.html">blog details 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html"> Contact  </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>-->
                <!--End view of app-->
                <!--<div class="single-slider single-slider-hm1 bg-img height-100vh" style="height:100vh; width:100%; background-image: url(img/shop11.jpg);" >
                    
                </div>-->
                <div class="slider-area ">
                    <div class="slider-active owl-carousel">
                        <div class="single-slider single-slider-hm1 bg-img height-100vh" style="background-image: url(img/shop11.jpg)">
                            <div class="slider-content  slider-content-style-1 slider-animated-1">
                                    <h1 class="animated">Slider 1</h1>
                                    <p class="animated">This part will need to be changed when we go live. </p>
                                </div>
                            <div class="position-slider-img">
                            
                            </div>
                        </div>
                        <div class="single-slider single-slider-hm1 bg-img height-100vh" style="background-image: url(img/shop16.jpg)">
                            <div class="slider-content  slider-content-style-1 slider-animated-2">
                                    <h1 class="animated" style="color:white;" >Slider 2</h1>
                                    <p class="animated" >This part will need to be changed when we go live. </p>
                                </div>
                            <div class="position-slider-img">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
@include('components.common')


@endsection